<div class="exercise">
	<div class="header">Exercise</div>
	<div class="alert alert-success">
	    <b>正解!</b>
	</div>

	<div class="alert alert-danger error-message">
	    <b>不正解!</b>
	</div>

	<div class="message">
	<%= message %>
	</div>
	<div class="editor" style="height: <%- codes.solution.split("\n").length*20 %>px"><%= codes.initial %></div>

	<pre class="hidden code-solution"><%= codes.solution %></pre>
	<pre class="hidden code-validation"><%= codes.validation %></pre>
	<% if (codes.context) { %>
	<pre class="hidden code-context"><%= codes.context %></pre>
	<% } %>

	<div class="buttons">
	    <a href="#" class="button size-2 action-submit">チェック</a>
	    <a href="#" class="button size-2 action-solution">答え</a>
	</div>
</div>
